<div class="flex h-[100vh] overflow-y-hidden w-[100%]">
    <app-sidebar class="sticky left-0 top-0">
    </app-sidebar>
  
    <div class="overflow-y-scroll w-[100%]">
      <app-navbar class="sticky top-0 z-50"></app-navbar>
      <div  class="h-[100%] overflow-y-auto py-[16px] text-[#393A4A] 
      px-[24px] min-h-[80%] 2xl:w-[calc(100vw-250px)] w-[100%]">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-task-modal *ngIf="modalService.taskModal"></app-task-modal>
    <app-delete-modal *ngIf="modalService.deleteTaskModal"></app-delete-modal>
    <app-create-modal *ngIf="modalService.createTaskModal"></app-create-modal>
    <app-edit-modal *ngIf="modalService.editTaskModal"></app-edit-modal>
  </div>