<div class="p-5 flex justify-between">
    <div class="flex items-center">
        <span> {{'<<'}} </span>
        <input class="p-2 bg-gray-100/85 rounded"  type="text" placeholder="Search for anything"/>
    </div>

    <div class="flex gap-3">
            <div class="rounded-full p-3 border-2 border-gray-400 size-10 flex items-center content-center justify-center text-gray-400"> + </div>
        <div class="rounded-full p-3 border-2 border-gray-400 size-10 flex items-center content-center justify-center text-gray-400"> + </div>
        
        <div class="flex items-center">
            <div class="rounded-full p-3 bg-red-300 size-10 flex items-center content-center justify-center text-gray-400"> + </div> <span class="text-gray-400">></span>
        </div>
    </div>
</div>