<!-- task.component.html -->

<div class="task bg-slate-200 hover:bg-slate-300 shadow p-5 my-3 cursor-grab" (click)="viewTask(task)">
    <h3 class="font-bold">{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <div class="mt-5 flex justify-between">          
      <div>
        <fa-icon [icon]="faCalendar"
          class="cursor-pointer text-blue-400 font-bold hover:ring-4 transition"
        ></fa-icon> : 
        <span class="text-sm"> {{ task.dueDate  }}</span>
      </div>
      <div class="flex gap-1 cursor-pointer">
        @for (i of getExclamationCount(task.priority); track $index) {
          <fa-icon [icon]="faExclamation" matTooltip="{{ task.priority }}"
          class="font-bold transition hover:ring-0"
          [class.text-red-500]="task.priority.toLowerCase() === 'urgent'"
          [class.text-yellow-500]="task.priority.toLowerCase() === 'moderate'"
         [class.text-blue-600]="task.priority.toLowerCase() === 'low'"
         
          ></fa-icon>
        }
      </div>
    </div>
  </div>
  