<div class="z-[100] container bg-[#fff] min-h-[100%] 2xl:w-[250px] w-[12vw] drop-shadow-sm">
    <!-- User -->
    <div class="flex items-center">
      <img src="/assets/images/stanbic-logo.svg" class="min-h-[55px] scale-105" />
    </div>
  
    <!-- Sidebar Items -->
    <div class="mt-[41px]">
      <div *ngFor="let item of navbar_items" class="mb-[32px]">
        <a routerLink="{{ item.link }}" routerLinkActive="active"
          class="flex items-center text-[#6D7C9C] 2xl:text-[16px] text-[14px]">
          <img src="{{ item.icon }}" routerLinkActive="active-icon" class="sidebar-icon" />
          <h4 class="ml-[11px]">{{ item.label }}</h4>
        </a>
      </div>
    </div>
  </div>