<div class="z-[100] hidden lg:block container bg-[#fff] min-h-[100%] 2xl:w-[250px] lg:w-[12vw] drop-shadow-sm">

    <!-- User -->
    <div class="flex items-center pt-4 px-5">
      <span class="font-bold text-blue-600 lg:text-lg 2xl:text-2xl">T-Manager</span>
      <!-- <img src="/assets/images/stanbic-logo.svg" class="min-h-[55px] scale-105" /> -->
    </div>
    <button class="lg:hidden absolute top-5 right-5" (click)="toggleSideMenu()">
      <fa-icon [icon]="faTimes" class="text-gray-400 font-bold hover:ring-4 transition"></fa-icon>
  </button>
  
    <!-- Sidebar Items -->
    <div class="mt-[41px]">
      <div *ngFor="let item of navbar_items" class="mb-[20px]">
        <a routerLink="{{ item.link }}" routerLinkActive="active"
          class="flex items-center text-gray-500 2xl:text-[16px] text-[14px] py-0.5 px-5  hover:bg-blue-100">
          <img src="{{ item.icon }}" routerLinkActive="active-icon" class="sidebar-icon size-6 text-green-500" />
          <h4 class="ml-[11px]">{{ item.label }}</h4>
        </a>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
    <div class="container  fixed lg:hidden bg-[#fff] min-h-[100%] drop-shadow-sm w-full"
    [ngClass]="{'fixed': isMobileMenu, 'absolute top-0 -left-[100vw] h-full w-full': !isMobileMenu === true}">
    
        <!-- User -->
        <div class="flex items-center pt-4 px-5">
          <span class="font-bold text-blue-600 text-lg">T-Manager</span>
          <!-- <img src="/assets/images/stanbic-logo.svg" class="min-h-[55px] scale-105" /> -->
        </div>
        <button class=" absolute top-5 right-5" (click)="toggleSideMenu()">
          <fa-icon [icon]="faTimes" class="text-gray-400 font-bold hover:ring-4 transition"></fa-icon>
      </button>
      
        <!-- Sidebar Items -->
        <div class="mt-[41px]">
          <div *ngFor="let item of navbar_items" class="mb-[20px]">
            <a routerLink="{{ item.link }}" routerLinkActive="active"
              class="flex items-center text-gray-500 2xl:text-[16px] text-[14px] py-0.5 px-5  hover:bg-blue-100">
              <img src="{{ item.icon }}" routerLinkActive="active-icon" class="sidebar-icon size-6 text-green-500" />
              <h4 class="ml-[11px]">{{ item.label }}</h4>
            </a>
          </div>
        </div>
      </div>


