.active {
    @apply text-blue-600 border-r-4 border-blue-600
}

.mobile-menu-open {
    transform: translateX(0);
}

.containerr {
    /* transition: transform 0.3s ease; */
    /* transform: translateX(-100%); */
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    padding-top: 60px; /* Adjust according to your top bar height */
}