.kanban-column {
    @apply bg-slate-50 p-3 overflow-y-auto;
    max-height: 90vh;
    min-width: 250px;
}

/* .ng-select .ng-select-container{
    color: #A7A9BC;
     font-size: 14px;
 }
.ng-select .custom-select {
    color: #A7A9BC;
     font-size: 14px;
 } */